<%- include ('header') %>
    
<div class="container">
    <div class="logo">
        <a href="/">
            <img src="images/logo-branca.png"/>
        </a>
    </div>
    <div class="content">
        <p>Informe o valor do dólar e a quantidade que deseja <br/>para fazer a sua cotação.</p>
        <form method="GET" action="cotacao">
            <input type="text" name="cotacao" placeholder="Cotação do dolar">
            <input type="text" name="quantidade" placeholder="Quantidade de dolar">
            <button>Converter</button>
        </form>
    </div>
    
</div>

<%- include ('footer') %>