* {
    margin: 0;
    padding: 0;
}

.container{
    max-width: 420px;
	margin: 200px auto;
    box-shadow: 0px 5px 4px #ececec;
    padding: 50px 20px;
}

.logo{
    display: block;
    text-align: center;
}
.logo img{
    max-width: 100%;
    width: 280px;
}
.content{
    margin: 30px 0;
}
.content form input{
    display: block;
    width: 100%;
    padding: 10px 0 10px;
    border: 1px solid #ececec;
    margin: 8px auto;
    color: #333;
    text-indent: 10px;
}
.content button{
    display: block;
    width: 100%;
    background-color: #97ffae;
    color: #fff;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    padding: 8px 4px;
    cursor: pointer;
    margin-top: 30px;
}