* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    min-height: 100%;
  }

body{
    background: url('/images/bg-body.jpg') no-repeat;
    background-size: cover;
}

.container{
    margin: 80px auto 0;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    display: block;
    text-align: center;
}
.logo img{
    max-width: 100%;
    width: 280px;
}
.content{
    width: 100%;
    background-color: #fff;
    margin-top: 50px;
    border-radius: 8px;
    padding: 30px;
}
.content > p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.content > form input{
    display: block;
    width: 100%;
    padding: 10px 0 10px;
    border: 1px solid #ececec;
    margin: 8px auto;
    color: #333;
    text-indent: 10px;
}
.content button{
    display: block;
    width: 100%;
    background-color: #97ffae;
    color: #fff;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    padding: 8px 4px;
    cursor: pointer;
    margin-top: 30px;
}
.content .result{
    text-align: center;
}
footer{
    text-align: center;
    display: block;
    width: 100%;
    background-color: #97ffae;
    padding: 10px 0;
}